In [1]:
%reset -f

import sys
import os
import bz2
import csv
import pandas as pd
import ast
# import json
import ujson
import numpy

from scripts.convertfunctions import ottrk_to_mot as otm

otm(filename= '2024-03-29_20-00-00_MOT20-01',
    directory='Z:/04_Daten/MOT20/train/MOT20-01')

otm(filename= '2024-03-29_20-00-00_MOT20-02',
    directory='Z:/04_Daten/MOT20/train/MOT20-02')

otm(filename= '2024-03-29_20-00-00_MOT20-03',
    directory='Z:/04_Daten/MOT20/train/MOT20-03')

otm(filename= '2024-03-29_20-00-00_MOT20-05',
    directory='Z:/04_Daten/MOT20/train/MOT20-05')

2024-03-29_20-00-00_MOT20-01 wird konvertiert...
Export nach Z:/04_Daten/MOT20/train/MOT20-01/det/
2024-03-29_20-00-00_MOT20-02 wird konvertiert...
Export nach Z:/04_Daten/MOT20/train/MOT20-02/det/
2024-03-29_20-00-00_MOT20-03 wird konvertiert...
Export nach Z:/04_Daten/MOT20/train/MOT20-03/det/
2024-03-29_20-00-00_MOT20-05 wird konvertiert...
Export nach Z:/04_Daten/MOT20/train/MOT20-05/det/

,frame,track-id,x,y,h,w,conf,3D_x,3D_y,3D_z
0,1,1,1260.900208,836.696777,243.303223,104.820190,1,-1,-1,-1
1,1,2,754.885834,446.474442,173.785980,78.042297,1,-1,-1,-1
2,1,3,242.244072,166.904610,140.877914,52.990250,1,-1,-1,-1
3,1,4,852.953033,888.451630,182.865051,93.190369,1,-1,-1,-1
4,1,5,1024.106079,911.304932,168.695068,80.423340,1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
451296,3315,6074,1629.886414,510.850357,178.129608,24.082153,1,-1,-1,-1
451297,3315,6075,984.942352,136.651985,107.336899,36.293274,1,-1,-1,-1
451298,3315,6076,1582.253235,422.556900,136.541107,62.257202,1,-1,-1,-1
451299,3315,6079,134.361275,312.153076,226.872070,68.929184,1,-1,-1,-1
451300,3315,6083,636.703796,0.000000,38.155643,18.920654,1,-1,-1,-1